<div class="row">
	<div class="col-xs-4">
		<h2>Player 1 Dice</h2>
		<div class="circle text-center">
			<h6>1</h6>
			<h6>2</h6>
			<h6>3</h6>
			<h6>4</h6>
			<h6>5</h6>
			<h6>6</h6>
			
		</div>
	</div><!--player 1 dice -->

	<div class="col-xs-4">
		<p>bid must be higher than oppenents bid</p>
		<p>don't lose your dices!</p>
		<p>always lie!</p>
		<p>"1's" are wild!</p>
		
	</div><!-- rules of the game -->

	<div class="col-xs-4">
		<h2>Player 2 Dice</h2>
		<div class="circle text-center">
			<h6>1</h6>
			<h6>2</h6>
			<h6>3</h6>
			<h6>4</h6>
			<h6>5</h6>
			<h6>6</h6>
		</div>
	</div><!-- player 2 dice -->
	
</div> <!-- end of top row -->


<br>
<div class="row">
	<div class="col-xs-12">
		<div id="gamelog">
			
		</div>
	</div>	
</div><!-- end of bottom row / game log -->